@using FutureVendWeb.Data.Models.VendingDevices
@model GetVendingDeviceViewModel

@{
    ViewData["Title"] = "Vending Device Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Model</dt>
        <dd class="col-sm-9">@Model.Model</dd>

        <dt class="col-sm-3">Manufacturer</dt>
        <dd class="col-sm-9">@Model.Manufacturer</dd>

        <dt class="col-sm-3">Software Version</dt>
        <dd class="col-sm-9">@Model.SoftwareVersion</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
