@{
    ViewData["Title"] = "Начална страница";
}
@inject FutureVendWeb.Services.User.IUserService user

<div class="container">
    <h1>Добре дошли в FutureVend!</h1>
    <p>Здравейте, @user.GetUser().Name! Това е вашето приложение за управление на вендинг машини.</p>
</div>
