@using FutureVendWeb.Data.Models.Customer
@model GetCustomerModel

@{
    ViewData["Title"] = "Edit Customer";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }

    <input type="hidden" asp-for="Id" />

    @* Полетата *@
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TaxNumber"></label>
        <input asp-for="TaxNumber" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
