@model FutureVendWeb.Data.Models.Device.CreateDeviceModel

@{
    ViewData["Title"] = "Създай ново устройство";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }

    <div class="form-group">
        <label asp-for="PaymentDeviceSerial"></label>
        <input asp-for="PaymentDeviceSerial" class="form-control" />
        <span asp-validation-for="PaymentDeviceSerial" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentDeviceId">Payment device</label>
        <select asp-for="PaymentDeviceId" asp-items="Model.PaymentDevices" class="form-control">
            <option value="">-- Choose --</option>
        </select>
        <span asp-validation-for="PaymentDeviceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VendingDeviceSerial"></label>
        <input asp-for="VendingDeviceSerial" class="form-control" />
        <span asp-validation-for="VendingDeviceSerial" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VendingDeviceId">Vending device</label>
        <select asp-for="VendingDeviceId" asp-items="Model.VendingDevices" class="form-control">
            <option value="">-- Choose --</option>
        </select>
        <span asp-validation-for="VendingDeviceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerId">Customer</label>
        <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control">
            <option value="">-- Choose --</option>
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="AcceptCard" class="form-check-input" />
        <label asp-for="AcceptCard" class="form-check-label"></label>
    </div>

    <div class="form-group form-check">
        <input asp-for="AcceptCash" class="form-check-input" />
        <label asp-for="AcceptCash" class="form-check-label"></label>
    </div>

    <div class="form-group">
        <label asp-for="LocationLat"></label>
        <input asp-for="LocationLat" class="form-control" />
        <span asp-validation-for="LocationLat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LocationLon"></label>
        <input asp-for="LocationLon" class="form-control" />
        <span asp-validation-for="LocationLon" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Създай</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
